<div class="controls"></div>
<div class="display">
	<div class="section main-image">
		<img class="img" width="600" src="/assets/images/flower.jpg"/>
	</div>
	<div class="section metrics">
	</div>
</div>
<div class="interactive main-chat">
	<div class="tips"></div>
	<ul class="messages">
		<li class="{{message.type}}" ng-repeat="message in messages">{{message.text}}</li>
	</ul>
	<form ng-submit="root.submit()">
		<input class="form-control main-input" ng-model="text" type="text" placeholder="Type your answer"/>
	</form>
</div>
