<div class="interactive main-chat">
	<ul class="messages">
		<li class="message" ng-class="[message.type]" ng-repeat="message in messages">

			<div class="content">
				<span ng-if="message.type === 'chat'">
					<span class="prep">{{message.user.username}}:</span> {{message.text}}
				</span>
				<span ng-if="message.type === 'chat-me'">
					<span class="prep">You:</span> {{message.text}}
				</span>
				<span ng-if="message.type === 'answer'">
					<span class="prep">Your answer:</span> {{message.text}}
				</span>
				<span ng-if="message.type === 'win'">
					{{message.user.username}} has found, he wins {{message.points}} points!
				</span>
				<span ng-if="message.type === 'win-me'">
					You win {{message.points}} points!
				</span>
				<span ng-if="message.type === 'info'">{{message.text}}</span>
				<span ng-if="message.type === 'question'">{{message.text}}</span>
			</div>
		</li>
	</ul>
	<form ng-submit="chat.submit()">
		<input class="form-control main-input" ng-model="text" type="text" placeholder="Type your answer"/>
	</form>
</div>
