// Chat
//

pj-chat {
  display: block;
  height: 400px;
  background: $purple;
  font-size: 16px;
  position: relative;

  .interactive {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .messages {
    list-style-type: none;
    max-height: 340px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 0 10px;
    color: $yellow;

    li {
      margin: 5px 0;
      padding: 5px;
      overflow: hidden;

      &.question {
        border-bottom: 1px solid white;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        text-shadow: 0 0 2px opacify($purple, 0.6);
      }

      &.chat {
        color: white;

        .prep {
          color: $pink;
        }
      }

      &.chat-me, &.answer {
        color: white;

        .prep {
          color: $orange;
        }
      }

      &.win-me, &.win {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  input.form-control {
    font-size: 18px;
    height: 55px;
  }
}
