// Chat
//

pj-chat {
  display: block;
  height: 400px;
  background: $purple;
  font-size: 16px;
  position: relative;

  .interactive {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .messages {
    list-style-type: none;
    max-height: 340px;
    overflow-y: scroll;
    margin-bottom: 5px;
    padding: 0 10px;
    color: $yellow;

    li {
      margin: 0;
      padding: 10px;
      overflow: hidden;
    }

    .chat{

    	svg{
    		float: left;
    	}

   		polygon{
   			fill: darken($purple, 5%);
   		}

   		.content{
   			float: left;
   			background: darken($purple, 5%);
   			padding: 10px;
   			width: 92%;
   		}

   		.others{
   			float: right;
   		}
    }
  }

  input.form-control {
    font-size: 18px;
    height: 55px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
