.interactive{
	box-shadow: inset 0px 0px 100px $darkGrey;
	height: 600px;
	width: 500px;
	float: right;
	position: relative;
	border-radius: 5px;

	.main-input{
		position: absolute;
		bottom: 0;
		height: 60px;
		font-size: 24px;
		background: $darkGrey;
		border: 0;
		border-radius: 0;
	}

	.tips{
		background: #FD8E3E;
		padding: 15px;
		font-size: 24px;
	}
}