// Layout
//

body{
  font-family: 'Nunito', sans-serif;
  background: #252651;
  color: white;
  padding: 20px;
}

h1 {
  font-family: 'Pacifico', sans-serif;
}

.login {
  margin: 100px auto 0;
  width: 300px;

  .form-group {
    margin: 30px 0;
  }

  .btn-success{
	background: $yellow;
	opacity: 1;
	font-size: 18px;
	border: 0;
	color: $purple;
  }

  .btn-success:not(disabled):hover{
  	box-shadow: inset 0 0 15px darken($yellow, 30%);
  }
}

.game {

  > div > pj-countdown {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    z-index: 2;
    display: block;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    padding: 10px;
  }

  &.question, &.pause {
    > div > pj-countdown {
      position: absolute;
      top: -25px;
      right: 10px;
      z-index: 2;
      display: block;
      border-radius: 50%;
      font-size: 30px;
      line-height: 46px;
      text-align: center;
      padding: 10px;
      background: $yellow;
      width: 70px;
      height: 70px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
      color: $purple;
    }
  }
}
