<div class="tips">
	<span ng-if="game.status === 'waiting'">
		{{game.users.length}} users in the game, waiting {{game.nbUsers-game.users.length}} users left.
	</span>

	<span ng-if="game.status === 'starting'">
		Game will start in <pj-countdown timer="game.timer"></pj-countdown> seconds
	</span>

	<span ng-if="game.status === 'question'">
		Game is ON ! Type your answer now !
	</span>

	<span ng-if="game.status === 'pause'">
		Next image in <pj-countdown timer="game.timer"></pj-countdown> seconds<br/>
	</span>

	<span ng-if="game.status === 'finished'">
		Game is finished !
	</span>
</div>
